@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    min-height: 140vh;
}
body{
    background-image: url(images/chart.jpg);
}
form {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    border-radius: .3rem;
    width: 450px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px;
    margin-top: 6rem;
}
form h1 {
    margin-bottom: 28px;
}
.form-group {
    width: 100%;
    height: 50%;
    margin-bottom: 16px;
    position: relative;
}
.form-group input{
    width: 100%;
    height: 100%;
    background-color: #333;
    border: none;
    border-radius: .3rem;
    outline: none;
    color: #fff;
    padding: 16px 20px 0;
    font-size: 1rem;
}
.form-group label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #8c8c8c;
    pointer-events: none;
    transition: 200ms ease-in-out transform,
                200ms ease-in-out font-size;
}
.form-group input:focus ∼ label,
.form-group input:valid ∼ label {
       transform: translateY(-1.25rem);
       font-size: .7rem;
}
form button {
    width: 100%;
    height: 48px;
    font-size: 1rem;
    background-color: #ff960b;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    margin: 24px 0 12px;
}
.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember {
    font-size: .85rem;
    color: #b3b3b3;
}
.remember a{
    color: #b3b3b3;
    font-size: .85rem;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}
.signup{
    margin-top: 16px;
}
.signup p{
    color: #737373;
}
.signup p a{
    color: #fff;
    text-decoration: none;
}
.signup p a:hover {
    text-decoration: underline;
}

.captcha{
    font-size: .8rem;
    color: #8c8c8c;
    margin-top: 0.5rem;
}
.captcha a{
    color: #0071eb;
    text-decoration: none;
}
.captcha a:hover{
    text-decoration: underline;
}

footer{
    position: absolute;
    left:0;
    bottom: -40vh;
    width: 100%;
    height: 260px;
    background-color: rgba(0, 0, 0, .6);
    padding: 30px 170px;
}

footer a {
    color: #757575;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer .top{
    margin-bottom: 30px;
}

footer .links{
    display: flex;
    flex-wrap: wrap;
}


footer .link a{
    display: inline-block;
    width: 250px;
    margin-bottom: 16px;
    font-size: 0.8rem;
}